@import "tailwindcss";

@theme {
  --color-primary: #e45944;
  --color-background-light: #f8f6f6;
  --color-background-dark: #211311;
  --color-sidebar-dark: #1b100e;

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}

:root {
  font-family: var(--font-display);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.dark .glass-panel {
  background: rgba(33, 19, 17, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
}